@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 让主文字竖排 */
.center{
  flex-direction: column;
}

/* 描述文字 */
.desc{
  display: block;
  text-align: right;
  animation: randomAppearance 5s infinite;
}

@keyframes randomAppearance {
  0%, 100% {
    clip-path: inset(0 0 0 0);
  }
  16.67% {
    clip-path: inset(0 100% 0 0); /* Disappear */
  }
  33.33% {
    clip-path: inset(0 0 0 50%); /* Appear from left */
  }
  50% {
    clip-path: inset(0 50% 0 0); /* Appear from right */
  }
  66.67% {
    clip-path: inset(0); /* Fully appear */
  }
  83.33% {
    clip-path: inset(0 50% 0 50%); /* Appear from middle */
  }
}

.question{
  width: 30px;
  height: 30px;
}

.center{
  /* 偏左 */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 8vh;
}

.btn{
  height: 50px;
  backdrop-filter: blur(5px); /* Frosted glass effect */
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 2.3s;
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.2rem;
}
.btn:hover{
  background-color: #f0f0f0;
}
.explanation{
  /* 高亮展示解释 */
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
}